#reveal pre {
    font-size: 20px !important;
    line-height: 1.3em !important;
    width: 96% !important;
    margin: 20px auto !important;
}

#reveal pre code {
    padding: 0.5em 1em !important;
}

#reveal section img {
    max-width: 100%;
}